/* Navbar.css */

.navbar {
  background-color: #20cd4e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}

.logo {
  position: relative;
  width: 67px;
  height: 34px;
  margin-left: 32px;
  margin-top: 11px;
  left: 5px;
}

.feedback {
  background-color: black;
  position: relative;
  margin-right: 32px;
  color: #20cd4e;
  position: relative;
  font-family: Poppins;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10px;
  transition: background-color 0.3s; /* Optional: Add a smooth transition effect */
}

.feedback:hover {
  background-color: #000; /* Change background color on hover */
}
