/* SearchBar.css */

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  padding-right: 20px; /* Make space for the icon and adjust as needed */
  border: 1px solid #ccc; /* Add a border to the input field */
  border-radius: 5px; /* Optional: Add border radius for a rounded look */
  height: 30px;
  width: 300px;
}
.divider {
  height: 30px; /* Adjust the height of the divider */
  width: 1px; /* Adjust the width of the divider */
  background-color: #151313; /* Adjust the color of the divider */
  margin: 0 10px; /* Adjust the margin for spacing */
}
.search-icon {
  position: absolute;
  right: 10px; /* Adjust the icon position */
  color: #100505d8; /* Adjust the icon color */
  cursor: pointer;
}
